@{
    ViewData["Title"] = "Top Bargains";
}

<ul style="list-style: none">
    @foreach (string bargain in ViewBag.bargains) {
      
    <li><p><small>@bargain</small></p></li>
    
    }
</ul>